openapi: "3.0.3"
info:
  version: "0.1"
  title: "TGSTAT"
servers:
  - url: https://social.proreforms.uz/api

paths:
  /auth/sign-in:
    post:
      tags:
        - auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: integer
                      first_name:
                        type: string
                      last_name:
                        type: string
                      username:
                        type: string
                      role:
                        type: string
  /user/create:
    post:
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        201:
          description: OK

  /channel:
    post:
      tags:
        - Channel
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_id:
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  tg_id:
                    type: integer
                  link:
                    type: string
                  username:
                    type: string
                  active_usernames:
                    type: object
                  title:
                    type: string
                  about:
                    type: string
                  category:
                    type: string
                  country:
                    type: string
                  language:
                    type: string
                  image100:
                    type: string
                  image640:
                    type: string
                  participants_count:
                    type: integer
                  tgstat_restrictions:
                    type: object
    get:
      tags:
        - Channel
      security:
        - bearerAuth: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    tg_id:
                      type: integer
                    link:
                      type: string
                    username:
                      type: string
                    active_usernames:
                      type: object
                    title:
                      type: string
                    about:
                      type: string
                    category:
                      type: string
                    country:
                      type: string
                    language:
                      type: string
                    image100:
                      type: string
                    image640:
                      type: string
                    participants_count:
                      type: integer
                    tgstat_restrictions:
                      type: object
  /channel/{id}:
    get:
      tags:
        - Channel
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  tg_id:
                    type: integer
                  link:
                    type: string
                  username:
                    type: string
                  active_usernames:
                    type: object
                  title:
                    type: string
                  about:
                    type: string
                  category:
                    type: string
                  country:
                    type: string
                  language:
                    type: string
                  image100:
                    type: string
                  image640:
                    type: string
                  participants_count:
                    type: integer
                  tgstat_restrictions:
                    type: object
  /post:
    get:
      tags:
        - Post
      parameters:
        - name: channel_id
          in: query
          required: true
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: order
          in: query
          schema:
            type: string
        - name: by_word
          in: query
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    post_id:
                      type: string
                    id:
                      type: integer
                    date:
                      type: integer
                    views:
                      type: integer
                    link:
                      type: string
                    channel_id:
                      type: integer
                    text:
                      type: string
                    media:
                      type: object
                      properties:
                        media_type:
                          type: string
                        mime_type:
                          type: string
                        size:
                          type: integer
  /post/week:
    get:
      tags:
        - Post
      parameters:
        - name: channel_id
          in: query
          required: true
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: order
          in: query
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    post_id:
                      type: string
                    id:
                      type: integer
                    date:
                      type: integer
                    views:
                      type: integer
                    link:
                      type: string
                    channel_id:
                      type: integer
                    text:
                      type: string
                    media:
                      type: object
                      properties:
                        media_type:
                          type: string
                        mime_type:
                          type: string
                        size:
                          type: integer
  /post/frequency/{channelID}:
    get:
      tags:
        - Post
      parameters:
        - name: channelID
          in: path
          schema:
            type: integer
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    word:
                      type: string
                    count:
                      type: integer

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT